# ignore build dirs
/build/
/dist/
/bin/

# ignore system junk files
.DS_Store
Thumbs.db

# ignore node_modules
# it's like hundreds of MBs
node_modules/

# ignore ide-specific files and stuff
.vscode/
.idea/
